In [1]:
import pandas as pd
archivo1 = pd.read_csv('C:\\Users\\Braulio\\Documents\\Braulio\\tot_reg_desap.csv', encoding='latin1')
archivo2 = pd.read_csv('C:\\Users\\Braulio\\Documents\\Braulio\\RNPDNO_V5.csv', encoding='latin1')

In [2]:
archivo1.columns

Index(['Unnamed: 0', 'nombrecompleto', 'rnpdno_json', 'entidad_desap',
       'pre_rnped', 'rnped', 'rnpdno_csv', 'bg_1', 'estatus_busqueda', 'bg_2',
       'fub', 'DC_id', 'fecha_desap'],
      dtype='object')

In [3]:
archivo1

,Unnamed: 0,nombrecompleto,rnpdno_json,entidad_desap,pre_rnped,rnped,rnpdno_csv,bg_1,estatus_busqueda,bg_2,fub,DC_id,fecha_desap
0,1,LUIS ADRIAN JUAREZ MORALES,1,QUERETARO,0,0,1,0,NaN,0,NaN,"101 (json), 5673 (csv)",19/04/2023
1,2,ERNESTO ALONSO HERNANDEZ GUTIERREZ,1,QUERETARO,0,0,1,1,Con indicios / Ubicada,1,187731B1B-3302-4BE3-81D5-018CFB86A00B,"349 (json), 448 (csv), 187731B1B-3302-4BE3-81D...",12/07/2016
2,3,PIEDAD JESUS GUERRERO CHAVEZ,1,QUERETARO,0,0,1,1,Se busca reportante,1,122009919-199C-4B90-8462-935A6EDCE439,"732 (json), 14618 (csv), 122009919-199C-4B90-8...",26/09/2017
3,4,LORENZO MARTINEZ,1,QUERETARO,0,0,1,1,Se requieren datos de identidad,1,148436E49-364B-4663-847C-0338E23B2460,"1007 (json), 89640 (csv), 148436E49-364B-4663-...",17/03/2010
4,5,AGUSTINA OLVERA OCHOA,1,QUERETARO,0,0,1,1,NaN,0,NaN,"1013 (json), 57259 (csv)",04/06/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89715,89716,ABEL DIYARZA MEZA,1,TLAXCALA,0,1,1,1,Con indicios / Ubicada,1,131FDA556-8853-4F89-B5A7-631CB1ADD4E8,"90862 (json), 108056 (csv), 131FDA556-8853-4F8...",02/09/2014
89716,89717,PERLA SANCHEZ VELAZQUEZ,1,TLAXCALA,0,1,1,0,NaN,0,NaN,"92140 (json), 101549 (csv)",15/01/2017
89717,89718,ARACELI SIMBRON HERNANDEZ,1,TLAXCALA,0,1,1,0,NaN,0,NaN,"92714 (json), 76035 (csv)",19/09/2013
89718,89719,KARLA ROMERO TEZMOL,1,TLAXCALA,0,1,1,1,Con indicios / Ubicada,1,121B00CE0-DB3D-46ED-916F-A582B3E96D08,"100726 (json), 56952 (csv), 121B00CE0-DB3D-46E...",13/01/2016
89719,89720,ALEJANDRO REYES MARTINEZ,1,TLAXCALA,0,1,1,1,Se requieren datos de identidad,1,1E60AAFB6-3922-479F-B8FD-C6A367EAD6D4,"106559 (json), 43093 (csv), 1E60AAFB6-3922-479...",26/12/2011

In [4]:
archivo2

,IDX_REPORTE,FECHA_REPORTE_C,SEXO,ESTADO_CIVIL,NIVEL_EDUCATIVO,ESTADO,EDAD_C,EDAD_G,ESTADO_CIVIL_G,NIVEL_EDUCATIVO_G,ANIO_REPORTE,FLAG
0,01-000001-0,2023-07-03,Hombre,Union libre,Preparatoria,MÃ©xico,21,Juventud,Relacion,Medio,2023.0,0
1,01-000002-0,2020-07-10,Hombre,Soltera,Secundaria,MichoacÃ¡n de Ocampo,21,Juventud,Soltera,Medio,2020.0,0
2,01-000003-0,NaN,Mujer,Desconocido,Desconocido,Durango,36,Adultez,Desconocido,Desconocido,NaN,1
3,01-000004-0,NaN,Desconocido,Desconocido,Desconocido,MÃ©xico,-99,Desconocida,Desconocido,Desconocido,NaN,1
4,01-000005-0,NaN,Desconocido,Desconocido,Desconocido,Quintana Roo,-99,Desconocida,Desconocido,Desconocido,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
115487,21-001676-0,NaN,Desconocido,Desconocido,Desconocido,Baja California Sur,-99,Desconocida,Desconocido,Desconocido,NaN,1
115488,21-001696-0,NaN,Desconocido,Desconocido,Desconocido,Baja California,-99,Desconocida,Desconocido,Desconocido,NaN,1
115489,21-001698-0,NaN,Desconocido,Desconocido,Desconocido,Portal,-99,Desconocida,Desconocido,Desconocido,NaN,1
115490,21-001718-0,NaN,Desconocido,Desconocido,Desconocido,Baja California Sur,-99,Desconocida,Desconocido,Desconocido,NaN,1
115491,21-001734-0,NaN,Desconocido,Desconocido,Desconocido,Portal,-99,Desconocida,Desconocido,Desconocido,NaN,1

In [5]:
archivo2_ordenado = archivo2.sort_values(by='IDX_REPORTE')
archivo2_ordenado

,IDX_REPORTE,FECHA_REPORTE_C,SEXO,ESTADO_CIVIL,NIVEL_EDUCATIVO,ESTADO,EDAD_C,EDAD_G,ESTADO_CIVIL_G,NIVEL_EDUCATIVO_G,ANIO_REPORTE,FLAG
0,01-000001-0,2023-07-03,Hombre,Union libre,Preparatoria,MÃ©xico,21,Juventud,Relacion,Medio,2023.0,0
1,01-000002-0,2020-07-10,Hombre,Soltera,Secundaria,MichoacÃ¡n de Ocampo,21,Juventud,Soltera,Medio,2020.0,0
2,01-000003-0,NaN,Mujer,Desconocido,Desconocido,Durango,36,Adultez,Desconocido,Desconocido,NaN,1
3,01-000004-0,NaN,Desconocido,Desconocido,Desconocido,MÃ©xico,-99,Desconocida,Desconocido,Desconocido,NaN,1
4,01-000005-0,NaN,Desconocido,Desconocido,Desconocido,Quintana Roo,-99,Desconocida,Desconocido,Desconocido,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
111249,21-001739-0,NaN,Desconocido,Desconocido,Desconocido,Jalisco,-99,Desconocida,Desconocido,Desconocido,NaN,1
111250,21-001740-0,NaN,Desconocido,Desconocido,Desconocido,Veracruz de Ignacio de la Llave,-99,Desconocida,Desconocido,Desconocido,NaN,1
111251,21-001741-0,NaN,Desconocido,Desconocido,Desconocido,Nacional,-99,Desconocida,Desconocido,Desconocido,NaN,1
111252,21-001742-0,NaN,Desconocido,Desconocido,Desconocido,Sinaloa,-99,Desconocida,Desconocido,Desconocido,NaN,1
111253,21-001743-0,NaN,Desconocido,Desconocido,Desconocido,Ciudad de MÃ©xico,-99,Desconocida,Desconocido,Desconocido,NaN,1

In [6]:
archivo1_ordenado = archivo1.sort_values(by='DC_id')
archivo1_ordenado

,Unnamed: 0,nombrecompleto,rnpdno_json,entidad_desap,pre_rnped,rnped,rnpdno_csv,bg_1,estatus_busqueda,bg_2,fub,DC_id,fecha_desap
50171,50172,JOSE RICARDO LOPEZ LAGUNAS,1,ESTADO DE MEXICO,0,0,0,0,NaN,0,NaN,1 (json),26/06/2023
30719,30720,ESTEFANIA GUADALUPE MARTINEZ BAUTISTA,1,TAMAULIPAS,0,0,1,1,Se requieren datos de identidad,1,11AA7198C-AA34-4325-A8FA-BEA7CE70A3B2,"10 (json), 105218 (csv), 11AA7198C-AA34-4325-A...",NaN
3681,3682,PEDRO ENRIQUE TORREZ NEVAREZ,1,CHIHUAHUA,0,1,1,1,Se requieren datos de identidad,1,1ACBC8FC3-F506-42E3-9169-15896EE66D43,"1000 (json), 18665 (csv), 1ACBC8FC3-F506-42E3-...",29/04/2011
38279,38280,ENRIQUE OLIVARES BUENTELLO,1,TAMAULIPAS,0,1,1,0,NaN,0,NaN,"10000 (json), 60250 (csv)",11/10/2010
69179,69180,MARIA GUADALUPE GASTELUM NAVARRO,1,SINALOA,0,0,1,1,Se busca reportante,1,19BA6473D-64D4-49FB-8183-4453E1E55C29,"100002 (json), 61445 (csv), 19BA6473D-64D4-49F...",29/05/2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89565,89566,ELSA NOEMI MACIEL HERNANDEZ,0,NAYARIT,0,1,0,0,NaN,0,NaN,NaN,"01/01/2007, 01/01/2015, 01/02/2013, 01/04/2013..."
89566,89567,JOSE MANUEL RODARTE SALAZAR,0,NAYARIT,0,1,0,0,NaN,0,NaN,NaN,"01/01/2007, 01/01/2015, 01/02/2013, 01/04/2013..."
89567,89568,Y RAFAEL JOVANNY AVILA VAZQUEZ,0,NAYARIT,0,1,0,0,NaN,0,NaN,NaN,"01/01/2007, 01/01/2015, 01/02/2013, 01/04/2013..."
89568,89569,EMMANUEL EMMA ENRIQUEZ ESPINOZA,0,NAYARIT,0,1,0,0,NaN,0,NaN,NaN,"01/01/2007, 01/01/2015, 01/02/2013, 01/04/2013..."
89696,89697,MARIA GUADALUPE RAMIREZ AVELAR,0,TLAXCALA,1,1,0,0,NaN,0,NaN,NaN,"01/01/2007, 01/01/2015, 01/02/2013, 01/04/2013..."

In [7]:
def extract_key(idx):
    parts = idx.split('-')
    if len(parts) > 1:
        return parts[1].lstrip('0')
    return idx

In [8]:
archivo2['Clave'] = archivo2['IDX_REPORTE'].apply(extract_key)
archivo2

,IDX_REPORTE,FECHA_REPORTE_C,SEXO,ESTADO_CIVIL,NIVEL_EDUCATIVO,ESTADO,EDAD_C,EDAD_G,ESTADO_CIVIL_G,NIVEL_EDUCATIVO_G,ANIO_REPORTE,FLAG,Clave
0,01-000001-0,2023-07-03,Hombre,Union libre,Preparatoria,MÃ©xico,21,Juventud,Relacion,Medio,2023.0,0,1
1,01-000002-0,2020-07-10,Hombre,Soltera,Secundaria,MichoacÃ¡n de Ocampo,21,Juventud,Soltera,Medio,2020.0,0,2
2,01-000003-0,NaN,Mujer,Desconocido,Desconocido,Durango,36,Adultez,Desconocido,Desconocido,NaN,1,3
3,01-000004-0,NaN,Desconocido,Desconocido,Desconocido,MÃ©xico,-99,Desconocida,Desconocido,Desconocido,NaN,1,4
4,01-000005-0,NaN,Desconocido,Desconocido,Desconocido,Quintana Roo,-99,Desconocida,Desconocido,Desconocido,NaN,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115487,21-001676-0,NaN,Desconocido,Desconocido,Desconocido,Baja California Sur,-99,Desconocida,Desconocido,Desconocido,NaN,1,1676
115488,21-001696-0,NaN,Desconocido,Desconocido,Desconocido,Baja California,-99,Desconocida,Desconocido,Desconocido,NaN,1,1696
115489,21-001698-0,NaN,Desconocido,Desconocido,Desconocido,Portal,-99,Desconocida,Desconocido,Desconocido,NaN,1,1698
115490,21-001718-0,NaN,Desconocido,Desconocido,Desconocido,Baja California Sur,-99,Desconocida,Desconocido,Desconocido,NaN,1,1718
115491,21-001734-0,NaN,Desconocido,Desconocido,Desconocido,Portal,-99,Desconocida,Desconocido,Desconocido,NaN,1,1734

In [9]:
archivo1['Clave'] = archivo1['DC_id'].apply(lambda x: str(x).split()[0] if pd.notnull(x) else '')
archivo1

,Unnamed: 0,nombrecompleto,rnpdno_json,entidad_desap,pre_rnped,rnped,rnpdno_csv,bg_1,estatus_busqueda,bg_2,fub,DC_id,fecha_desap,Clave
0,1,LUIS ADRIAN JUAREZ MORALES,1,QUERETARO,0,0,1,0,NaN,0,NaN,"101 (json), 5673 (csv)",19/04/2023,101
1,2,ERNESTO ALONSO HERNANDEZ GUTIERREZ,1,QUERETARO,0,0,1,1,Con indicios / Ubicada,1,187731B1B-3302-4BE3-81D5-018CFB86A00B,"349 (json), 448 (csv), 187731B1B-3302-4BE3-81D...",12/07/2016,349
2,3,PIEDAD JESUS GUERRERO CHAVEZ,1,QUERETARO,0,0,1,1,Se busca reportante,1,122009919-199C-4B90-8462-935A6EDCE439,"732 (json), 14618 (csv), 122009919-199C-4B90-8...",26/09/2017,732
3,4,LORENZO MARTINEZ,1,QUERETARO,0,0,1,1,Se requieren datos de identidad,1,148436E49-364B-4663-847C-0338E23B2460,"1007 (json), 89640 (csv), 148436E49-364B-4663-...",17/03/2010,1007
4,5,AGUSTINA OLVERA OCHOA,1,QUERETARO,0,0,1,1,NaN,0,NaN,"1013 (json), 57259 (csv)",04/06/2023,1013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89715,89716,ABEL DIYARZA MEZA,1,TLAXCALA,0,1,1,1,Con indicios / Ubicada,1,131FDA556-8853-4F89-B5A7-631CB1ADD4E8,"90862 (json), 108056 (csv), 131FDA556-8853-4F8...",02/09/2014,90862
89716,89717,PERLA SANCHEZ VELAZQUEZ,1,TLAXCALA,0,1,1,0,NaN,0,NaN,"92140 (json), 101549 (csv)",15/01/2017,92140
89717,89718,ARACELI SIMBRON HERNANDEZ,1,TLAXCALA,0,1,1,0,NaN,0,NaN,"92714 (json), 76035 (csv)",19/09/2013,92714
89718,89719,KARLA ROMERO TEZMOL,1,TLAXCALA,0,1,1,1,Con indicios / Ubicada,1,121B00CE0-DB3D-46ED-916F-A582B3E96D08,"100726 (json), 56952 (csv), 121B00CE0-DB3D-46E...",13/01/2016,100726
89719,89720,ALEJANDRO REYES MARTINEZ,1,TLAXCALA,0,1,1,1,Se requieren datos de identidad,1,1E60AAFB6-3922-479F-B8FD-C6A367EAD6D4,"106559 (json), 43093 (csv), 1E60AAFB6-3922-479...",26/12/2011,106559

In [10]:
print(archivo2[['IDX_REPORTE', 'Clave']])

        IDX_REPORTE Clave
0       01-000001-0     1
1       01-000002-0     2
2       01-000003-0     3
3       01-000004-0     4
4       01-000005-0     5
...             ...   ...
115487  21-001676-0  1676
115488  21-001696-0  1696
115489  21-001698-0  1698
115490  21-001718-0  1718
115491  21-001734-0  1734

[115492 rows x 2 columns]

In [11]:
print(archivo1[['DC_id', 'Clave']])

                                                   DC_id   Clave
0                                 101 (json), 5673 (csv)     101
1      349 (json), 448 (csv), 187731B1B-3302-4BE3-81D...     349
2      732 (json), 14618 (csv), 122009919-199C-4B90-8...     732
3      1007 (json), 89640 (csv), 148436E49-364B-4663-...    1007
4                               1013 (json), 57259 (csv)    1013
...                                                  ...     ...
89715  90862 (json), 108056 (csv), 131FDA556-8853-4F8...   90862
89716                         92140 (json), 101549 (csv)   92140
89717                          92714 (json), 76035 (csv)   92714
89718  100726 (json), 56952 (csv), 121B00CE0-DB3D-46E...  100726
89719  106559 (json), 43093 (csv), 1E60AAFB6-3922-479...  106559

[89720 rows x 2 columns]

In [12]:
archivo1_s = archivo1[['Clave', 'fecha_desap', 'estatus_busqueda']]
data = archivo2.merge(archivo1_s, on='Clave', how='left')
data

,IDX_REPORTE,FECHA_REPORTE_C,SEXO,ESTADO_CIVIL,NIVEL_EDUCATIVO,ESTADO,EDAD_C,EDAD_G,ESTADO_CIVIL_G,NIVEL_EDUCATIVO_G,ANIO_REPORTE,FLAG,Clave,fecha_desap,estatus_busqueda
0,01-000001-0,2023-07-03,Hombre,Union libre,Preparatoria,MÃ©xico,21,Juventud,Relacion,Medio,2023.0,0,1,26/06/2023,NaN
1,01-000002-0,2020-07-10,Hombre,Soltera,Secundaria,MichoacÃ¡n de Ocampo,21,Juventud,Soltera,Medio,2020.0,0,2,06/07/2020,NaN
2,01-000003-0,NaN,Mujer,Desconocido,Desconocido,Durango,36,Adultez,Desconocido,Desconocido,NaN,1,3,21/03/2011,Denuncia confirmada
3,01-000004-0,NaN,Desconocido,Desconocido,Desconocido,MÃ©xico,-99,Desconocida,Desconocido,Desconocido,NaN,1,4,NaN,NaN
4,01-000005-0,NaN,Desconocido,Desconocido,Desconocido,Quintana Roo,-99,Desconocida,Desconocido,Desconocido,NaN,1,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117238,21-001676-0,NaN,Desconocido,Desconocido,Desconocido,Baja California Sur,-99,Desconocida,Desconocido,Desconocido,NaN,1,1676,17/12/2015,Se requieren datos de identidad
117239,21-001696-0,NaN,Desconocido,Desconocido,Desconocido,Baja California,-99,Desconocida,Desconocido,Desconocido,NaN,1,1696,10/03/2014,NaN
117240,21-001698-0,NaN,Desconocido,Desconocido,Desconocido,Portal,-99,Desconocida,Desconocido,Desconocido,NaN,1,1698,26/08/2012,Se requieren datos de identidad
117241,21-001718-0,NaN,Desconocido,Desconocido,Desconocido,Baja California Sur,-99,Desconocida,Desconocido,Desconocido,NaN,1,1718,NaN,NaN
117242,21-001734-0,NaN,Desconocido,Desconocido,Desconocido,Portal,-99,Desconocida,Desconocido,Desconocido,NaN,1,1734,NaN,Con indicios / Ubicada